# Python
__pycache__/
*.pyc
.venv/
.dist/
.build/
*.egg-info/
# IDE
.vscode/
.idea/
# Datos y artefactos
*.parquet
*.hbr2
/out/
/examples/*.out

/node_modules/
.DS_Store
.env
/out_probe/
package-lock.json